# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Supabase Local Data
.supabase-docker/volumes/db/data/
.supabase-docker/volumes/storage/
.supabase-docker/volumes/logs/
.supabase-docker/.env

# ScheduleLab Local Test Files
test_db.js
test_query.ts
tmp_app/
/tailwinc.config.ts/
